[mysqld]

##############################################################
########################## Основное ##########################
##############################################################

# Включить и настроить плагин MariaDB Server Audit
plugin_load                     = audit_login.so
server_audit_output_type        = file
server_audit_logging            = ON
server_audit_events             = connect
server_audit_file_path          = /c/WebDev/projects/csgohap/other/logs/security/mysql_connections.log
server_audit_file_rotations     = 0
#server_audit_file_rotate_size   = 100M

# Увеличить MAX размер пакетных данных до 1024M
max_allowed_packet=1024M

# Восстановление InnoDB после повреждения
# innodb_force_recovery = 6

# Прочие настройки
innodb_strict_mode=0
innodb_file_per_table
innodb_log_file_size=256M
innodb_fast_shutdown=0
#innodb_max_dirty_pages_pct=0
#innodb_buffer_pool_dump_at_shutdown=1
#innodb_buffer_pool_load_at_startup=1

###########################################################################
########################## Не активные настройки ##########################
###########################################################################

# Настройки MySQL по умолчанию подходят для серверов с 1GB+ свободной памяти
# - Для запуска на s100 (у которого <=1GB, ставим для MySQL MIN настройки).

# Восстановление InnoDB после повреждения
# innodb_force_recovery = 6

# /etc/my.cnf:
# innodb_buffer_pool_size=5M
# innodb_log_buffer_size=256K
# query_cache_size=0
# max_connections=10
# key_buffer_size=8
# thread_cache_size=0
# host_cache_size=0
# innodb_ft_cache_size=1600000
# innodb_ft_total_cache_size=32000000

# per thread or per operation settings
# thread_stack=131072
# sort_buffer_size=32K
# read_buffer_size=8200
# read_rnd_buffer_size=8200
# max_heap_table_size=16K
# tmp_table_size=1K
# bulk_insert_buffer_size=0
# join_buffer_size=128
# net_buffer_length=1K
# innodb_sort_buffer_size=64K

#settings that relate to the binary log (if enabled)
# binlog_cache_size=4K
# binlog_stmt_cache_size=4K

# Разрешить доступ к MySQL только с сервера
# bind-address = 127.0.0.1

# Лог
# log-error	= /var/log/mysql/error.log

# Восстановление InnoDB после повреждения
# innodb_force_recovery = 4

# optimizer_switch=index_merge_intersection=off







